/* Code tidied up by ScrapBook */
input[type="checkbox"], input[type="radio"] { visibility: hidden; position: relative; height: 17px; width: 17px; vertical-align: middle; margin: 0px 8px 4px 0px !important; }
.survey { display: none; position: absolute; left: 0px; top: 0px; z-index: 99999999; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; padding: 12px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; box-sizing: border-box; }
